.retroseso {
    font-family: "Itim", cursive;
    font-size: 14px;
    border-radius: 16px;
    width: 80px;
    /* vw -> view width */
    border: none;
    margin-top: 20px;
    background-color: #006e41;
    color: #FFFFFF;
    text-decoration: none;
    justify-content: center;
    display: flex;
    align-items: center;
    
}

.marco{ 
    background-color: #FFFFFF;
    height: 320px;
    border-radius: 60px 60px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 100px;
    align-items: center;
}
h1 {
    color: #006e41;
    font-family: "Itim", cursive;
    font-size: 30px;
}


/* Formulario */
.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* Inputs */
.register-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    /* No se usa gap */
    border: 1.5px solid #ccc;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}



/* Botón */
.btn-register {
    background-color: #006e41;
    color: white;
    font-weight: 600;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-register:hover {
    background-color: #006e41;
    transform: scale(1.05);
}

/* Responsive */
@media (max-width: 480px) {
    .register-container {
        width: 85%;
        padding: 25px;
    }
    .retroseso {
    font-family: "Itim", cursive;
    font-size: 14px;
    border-radius: 16px;
    width: 80px;
    /* vw -> view width */
    border: none;
    margin-top: 20px;
    background-color: #006e41;
    color: #FFFFFF;
    text-decoration: none;
    justify-content: center;
    display: flex;
    align-items: center;

}

}