.marco6 {
  background-color: #ffffff;
  height: 420px;
  border-radius: 60px 60px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 50px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
  animation: aparecer 0.5s ease-in-out;
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.icono-exito {
  background-color:#006e41;
  color: #ffcb00;
  font-size: 42px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 30px;
  box-shadow: 0 4px 10px rgba(230, 57, 70, 0.2);
  border: 3px solid #006e41;
}

h2 {
  color: #006e41;
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 700;
}

section p {
  margin: 10px 20px 25px;
  text-align: center;
  font-size: 15px;
  color: #333;
  line-height: 1.4;
}

.botones-exito {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 220px;
}

.botones-exito .inicio {
  background-color: #006e41;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 25px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.botones-exito .inicio:hover {
  transform: scale(1.05);
  background-color: #008c51;
}
