body {
  font-family: 'Poppins', sans-serif;
}

.marco2 {
  background-color: #FFFFFF;
  height: 480px;
  border-radius: 60px 60px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 8px;
  align-items: center;
}

h3 {
  font-size: 20px;
  color: #006e41;
  text-align: center;
}

.register-form {
  width: 280px;
}

.horas-container {
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.horas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.horas button {
  background-color: #0b6b3a;
  color: white;
  border: none;
  width: 100px;
  height: 35px;
  border-radius: 10px;
  padding: 5px 3px;
  margin: 2px;
  cursor: pointer;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  transition: background-color 0.3s ease;
}

.siguiente {
  margin-top: 10px;
}

.horas button.seleccionado {
  background-color: #ffb347;
  color: #fff;
  transform: scale(1.05);
}