.marco2{
    background-color: #FFFFFF;
    height: 480px;
    border-radius: 60px 60px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 10px;
    align-items: center;
}
h3{
   font-size: 25px;
   color: #006e41;
   margin-left: 20px;
   margin-right: 20px;
   font-weight: 800;

}
.register-form{
    width: 280px;
}
.horas-container {
  font-family: Arial, sans-serif;
  text-align: center;

}

.horas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.horas button {
  background-color: #0b6b3a;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 35px;
  margin: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.siguiente{
    margin-top: 10px;
}

