.marco1{
    background-color: #FFFFFF;
    height: 450px;
    border-radius: 60px 60px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 20px;
    align-items: center;
}
.siguiente{
    display: flex;
    align-items: center;
    background-color: #006e41;
    color: #FFFFFF;
    text-decoration: none;
    justify-content: center;
    font-family: "Itim", cursive;
    font-size: 24px;
    border-radius: 16px;
    width: 200px;
    height: 45px;
    border: none;
}