body {
  font-family: 'Poppins', sans-serif;
}

.logo1{
  display: flex;
    justify-content: center;
    margin-top: 5px;
    height: 100px;
    margin-left: 20px;
}
.marco1 {
  background-color: #FFFFFF;
  height: 470px;
  border-radius: 60px 60px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 10px;
  align-items: center;
}

h2 {
  text-align: left;
  font-size: 18px;
  color: #006e41;
  margin-left: 30px;
  margin-right: 20px;
  font-weight: 800;
  margin-top: 10px;
}

.retro {
  display: flex;
  margin-right: auto;
  margin-left: 30px;
}

.retroseso {
  display: flex;
  align-items: center;
  background-color: #006e41;
  color: #FFFFFF;
  text-decoration: none;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  border-radius: 16px;
  margin-top: 8px;
  width: 60px;
  height: 30px;
  border: none;
}

.siguiente {
  display: flex;
  align-items: center;
  background-color: #006e41;
  color: #FFFFFF;
  text-decoration: none;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  border-radius: 16px;
  margin-left: 38px;
  width: 200px;
  height: 45px;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  background-color: #0f7c44;
  transform: scale(1.03);
}

.register-form input {
  width: 90%;
  padding: 12px 14px;
  margin-bottom: 15px;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  outline: none;
  transition: all 0.3s ease;
}

.register-form input:focus {
  border-color: #006e41;
}

.register-form input::placeholder {
  color: #006e41;
}