.marco1{
    background-color: #FFFFFF;
    height: 450px;
    border-radius: 60px 60px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 20px;
    align-items: center;
}
