.marco1{
    background-color: #FFFFFF;
    height: 455px;
    border-radius: 60px 60px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 20px;
    align-items: center;
}
h2{text-align:center;
   font-size: 20px;
   color: #006e41;
   margin-left: 20px;
   margin-right:20px;
   font-weight: 800;
   margin-top: 20px;

}
.retro{
    display: flex;
    margin-right: auto;
    margin-left: 30px ;

}
.retroseso{
    display: flex;
    align-items: center;
    background-color: #006e41;
    color: #FFFFFF;
    text-decoration: none;
    justify-content: center;
    font-family: "Itim", cursive;
    font-size: 14px;
    border-radius: 16px;
    margin-top: 10px;
    width: 80px;
    height: 35px;
    border: none;
    
    
}
.siguiente{
    display: flex;
    align-items: center;
    background-color: #006e41;
    color: #FFFFFF;
    text-decoration: none;
    justify-content: center;
    font-family: "Itim", cursive;
    font-size: 24px;
    border-radius: 16px;
    margin-left: 38px;
    width: 200px;
    height: 45px;
    border: none;
}




.register-form input {
  width: 90%;
  padding: 12px 14px;
  margin-bottom: 15px;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
  font-family: "Itim", cursive;
  outline: none;
  transition: all 0.3s ease;
}

.register-form input:focus {
  border-color: #006e41; /* verde del estilo que ya usas */
}

.register-form input::placeholder {
  color: #006e41;
}