body {
    background-color: #006e41;
    margin: 0px;
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    height: 200px;
}
.accion-login{
    background-color: #FFFFFF;
    height: 380px;
    border-radius: 60px 60px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 100px;
    align-items: center;
}
.accion-login h1{
    font-size: 40px;
    margin-top: 60px;
    text-align: center;
    color: #006e41;
}

.btn {
    font-family: "Itim", cursive;
    font-size: 24px;
    border-radius: 16px;
    width: 80vw; /* vw -> view width */
    height: 55px;
    border: none;
}

.btn-login {
    margin-top: 50px;
    background-color: #006e41;
    color: #FFFFFF;
    text-decoration: none;
    justify-content: center;
    display: flex;
    align-items: center;
}

.btn-create-account {
    display: flex;
    align-items: center;
    background-color: #006e41;
    color: #FFFFFF;
    text-decoration: none;
    justify-content: center;
}