body {
    background-color: #006e41;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    /* 👈 Aplica Poppins solo aquí */
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    height: 150px;
    margin-left: 20px;
}

.accion-login {
    background-color: #FFFFFF;
    height: 380px;
    border-radius: 60px 60px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 80px;
    align-items: center;
}

.accion-login h1 {
    font-size: 30px;
    margin-top: 60px;
    text-align: center;
    color: #006e41;
}

.btn {
    font-family: 'Poppins', sans-serif;
    /* 👈 por si quieres asegurarlo también */
    font-size: 20px;
    border-radius: 16px;
    width: 80vw;
    height: 50px;
    border: none;
}

.btn-login {
    margin-top: 10px;
    background-color: #006e41;
    color: #FFFFFF;
    text-decoration: none;
    justify-content: center;
    display: flex;
    align-items: center;
}

.btn-create-account {
    display: flex;
    align-items: center;
    background-color: #006e41;
    color: #FFFFFF;
    text-decoration: none;
    justify-content: center;
}